<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CustomerInfo</servlet-name>
        <servlet-class>controller.staff.CustomerInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerInfo</servlet-name>
        <url-pattern>/customerInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editService</servlet-name>
        <servlet-class>controller.staff.editService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editService</servlet-name>
        <url-pattern>/editService</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>controller.admin.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/chartData</url-pattern>
        <url-pattern>/Checkout</url-pattern>
        <url-pattern>/DeleteMaterialRoom</url-pattern>
        <url-pattern>/detailListBooking</url-pattern>
        <url-pattern>/detailRoomManager</url-pattern>
        <url-pattern>/HistoryBooking</url-pattern>
        <url-pattern>/InsertMaterial</url-pattern>
        <url-pattern>/InsertMaterialRoom</url-pattern>
        <url-pattern>/InsertRoom</url-pattern>
        <url-pattern>/InsertRoomClass</url-pattern>
        <url-pattern>/listAccount</url-pattern>
        <url-pattern>/listBooking</url-pattern>
        <url-pattern>/listRoomManager</url-pattern>
        <url-pattern>/ManageInsertService</url-pattern>
        <url-pattern>/ManageMaterial</url-pattern>
        <url-pattern>/managerBooking</url-pattern>
        <url-pattern>/ManageRoomClass</url-pattern>
        <url-pattern>/ManageService</url-pattern>
        <url-pattern>/removeAccount</url-pattern>
        <url-pattern>/SearchMaterial</url-pattern>
        <url-pattern>/SearchRoom</url-pattern>
        <url-pattern>/SearchRoomClass</url-pattern>
        <url-pattern>/SearchServiceByName</url-pattern>
        <url-pattern>/setAccount</url-pattern>
        <url-pattern>/UpdateImageMaterial</url-pattern>
        <url-pattern>/UpdateImageRoom</url-pattern>
        <url-pattern>/UpdateImageRoomClass</url-pattern>
        <url-pattern>/UpdateMaterial</url-pattern>
        <url-pattern>/UpdateRoom</url-pattern>
        <url-pattern>/UpdateRoomClass</url-pattern>
        <url-pattern>/UpdateService</url-pattern>
        <url-pattern>/BookingStatus</url-pattern>
        <url-pattern>/ProfileAdmin</url-pattern>
        <url-pattern>/detailListBooking</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LoginFilterStaff</filter-name>
        <filter-class>controller.staff.LoginFilterStaff</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilterStaff</filter-name>
        <url-pattern>/dashboardstaff</url-pattern>
        <url-pattern>/dashboardstaff.jsp</url-pattern>
        <url-pattern>/profileStaff.jsp</url-pattern>
        <url-pattern>/profileStaff</url-pattern>
        <url-pattern>/ViewMaterial</url-pattern>
        <url-pattern>/editMaterial</url-pattern>
        <url-pattern>/ViewService</url-pattern>
        <url-pattern>/editService</url-pattern>
        <url-pattern>/roomManager</url-pattern>
        <url-pattern>/editRoom</url-pattern>
        <url-pattern>/RoomClasses</url-pattern>
        <url-pattern>/customerDetail</url-pattern>
        <url-pattern>/customerInfo</url-pattern>
        <url-pattern>/viewMaterial.jsp</url-pattern>
        <url-pattern>/editMaterial.jsp</url-pattern>
        <url-pattern>/viewService.jsp</url-pattern>
        <url-pattern>/editService.jsp</url-pattern>
        <url-pattern>/roomManager.jsp</url-pattern>
        <url-pattern>/editRoom.jsp</url-pattern>
        <url-pattern>/RoomClasses.jsp</url-pattern>


        <url-pattern>/BookingStatus</url-pattern>
    </filter-mapping>
</web-app>