<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CustomerInfo</servlet-name>
        <servlet-class>controller.staff.CustomerInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerInfo</servlet-name>
        <url-pattern>/customerInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editService</servlet-name>
        <servlet-class>controller.staff.editService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editService</servlet-name>
        <url-pattern>/editService</url-pattern>
    </servlet-mapping>
</web-app>